/* Styles de base pour le corps de la page */
body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive; /* Choix d'une police manuscrite pour un style similaire */
  background: url("img3.jpeg") no-repeat center center fixed; /* Remplacez par l'image de fond */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  overflow: auto; /* Permettre le défilement si le contenu dépasse la hauteur de la fenêtre */
}

/* Style pour le conteneur principal */
.container {
  background: rgba(
    255,
    255,
    255,
    0.9
  ); /* Fond blanc avec un peu de transparence */
  border-radius: 20px; /* Coins arrondis */
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Ombre pour donner de la profondeur */
  width: 80%;
  max-width: 800px;
  text-align: center;
  position: relative;
}

/* Style pour l'en-tête */
.header {
  background: #ffffff;
  border: 2px solid #87ceeb;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

/* Style pour le texte d'introduction */
.title-bg {
  background-color: #fdd835;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 24px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  font-weight: bold;
}

/* Style pour le texte principal */
.title {
  font-size: 18px;
  color: #000;
  font-weight: normal;
  margin-top: 40px;
  text-align: justify; /* Justifier le texte pour une meilleure lisibilité */
  font-family: "Comic Sans MS", "Comic Sans", cursive; /* Police manuscrite pour correspondre au style de l'image */
  max-height: 80vh; /* Limiter la hauteur maximale à 80% de la hauteur de la fenêtre */
  overflow-y: auto; /* Permettre le défilement vertical si le texte dépasse la hauteur maximale */
  padding: 10px;
}

/* Style pour le lien en bas */
.bottom-link {
  /* Afficher le lien comme un bloc pour prendre toute la largeur disponible */
  display: block;
  /* Espacement au-dessus du lien pour le séparer du texte */
  margin-top: 20px;
  margin-left: 70%;
  /* Espacement intérieur */
  padding: 10px 10px;
  /* Couleur de fond bleue */
  background-color: #007bff;
  /* Couleur du texte */
  color: #fff;
  /* Supprimer la décoration de texte par défaut (soulignement) */
  text-decoration: none;
  /* Coins arrondis */
  border-radius: 25% 10%;
  /* Taille de la police */
  font-size: 14px;
  /* Centrer le texte à l'intérieur du lien */
  text-align: center;
}

/* Changer la couleur de fond du lien au survol */
.bottom-link:hover {
  /* Couleur de fond bleue plus foncée */
  background-color: #0056b3;
}
